<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="java.com.solvd.timetable.persistence.TimeTableRepository">

    <insert id="createTimeTable" keyColumn="id" useGeneratedKeys="true">
        Insert into timetable(day_id, lesson_number_id, class_id, subject_id, classroom_id, teacher_id)
        values (#{day.id}, #{lessonNumber.id}, #{grade.id}, #{subject.id}, #{room.id}, #{teacher.id})
    </insert>

    <select id="getLessonBlocks" resultMap="LessonBlockResultMap">
        Select
            tt.id as timetable_id,
            d.name as day_name,
            ln.time_name as time_name,
            c.id as class_id,
            c.name as class_name,
            cr.id as classroom_id,
            cr.number as classroom_number,
            cr.type as classroom_type,
            t.id as teacher_id,
            t.first_name as teacher_first_name,
            t.last_name as teacher_last_name,
            s.id as subject_id,
            s.name as subject_name,
            s.room_type_needed as subject_room_type
        from
            timetable tt
        inner join
            days d on tt.day_id = d.id
        inner join
            lesson_numbers ln on tt.lesson_number_id = ln.id
        inner join
            classes c on tt.class_id = c.id
        inner join
            classrooms cr on tt.classroom_id = cr.id
        inner join
            teachers t on tt.teacher_id = t.id
        inner join
            subjects s on tt.subject_id = s.id
        order by
            tt.id
    </select>

    <delete id="deleteTimeTable">
        delete from timetable where id > 0
    </delete>

    <resultMap id="LessonBlockResultMap" type="java.com.solvd.timetable.domain.timetable.LessonBlock" autoMapping="false">
        <id property="id" column="timetable_id"/>
        <result property="day" column="day_name" javaType="java.com.solvd.timetable.domain.timetable.Day"/>
        <result property="lessonNumber" column="time_name" javaType="java.com.solvd.timetable.domain.timetable.LessonNumber"/>
        <association property="grade" resultMap="java.com.solvd.timetable.persistence.GradeRepository.GradeResultMap"/>
        <association property="teacher" resultMap="java.com.solvd.timetable.persistence.TeacherRepository.TeacherResultMap"/>
        <association property="subject" resultMap="java.com.solvd.timetable.persistence.TeacherRepository.SubjectResultMap"/>
        <association property="room" resultMap="java.com.solvd.timetable.persistence.RoomRepository.RoomResultMap"/>
    </resultMap>

</mapper>